@page
@model IndexModel
@{
    Layout= null;
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="container">
        <div class="choose-heading text-center">
            <h1>Choose to proceed:</h1>
        </div>
        <form method="post">
            <div class="box text-center">
                <button class="btn mainpage-btn" type="submit">Admin Login</button>
                <button class="btn mainpage-btn" type="submit" asp-page-handler="UserLoginPage">User Login</button>
                <button class="btn mainpage-btn" type="submit" asp-page-handler="NewUserPage">Not a user! Sign Up Here</button>
            </div>
        </form>
    </div>
</body>
