@page
@model VideoLeasingSystem.Pages.Users.NewUserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>

    <div class="container">
        <h1 class="userloginheading text-center">Fill in the details below:</h1>
        <div class="loginform">
            <form method="post">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="UserDetails.FullName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserDetails.FullName" autocomplete="off" />
                    </div>
                    <div class="col-12">
                        <span class="text-danger" asp-validation-for="UserDetails.FullName"></span>
                    </div>

                    <div class="col-4">
                        <label asp-for="UserDetails.Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserDetails.Email" autocomplete="off" />
                    </div>
                    <div class="col-12">
                        <span class="text-danger" asp-validation-for="UserDetails.Email"></span>
                    </div>

                    <div class="col-4">
                        <label asp-for="UserDetails.UserName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserDetails.UserName" autocomplete="off" />
                    </div>
                    <div class="col-12">
                        <span class="text-danger" asp-validation-for="UserDetails.UserName"></span>
                    </div>

                    <div class="col-4">
                        <label asp-for="UserDetails.Password"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserDetails.Password" autocomplete="off" />
                    </div>
                    <div class="col-12">
                        <span class="text-danger" asp-validation-for="UserDetails.Password"></span>
                    </div>

                    <div class="col-4">
                        <label asp-for="UserDetails.PhoneNo"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserDetails.PhoneNo" autocomplete="off" />
                    </div>
                    <div class="col-12">
                        <span class="text-danger" asp-validation-for="UserDetails.PhoneNo"></span>
                    </div>

                    <div class="col-4">
                        <label asp-for="UserDetails.Address"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserDetails.Address" autocomplete="off" />
                    </div>
                    <div class="col-12">
                        <span class="text-danger" asp-validation-for="UserDetails.Address"></span>
                    </div>

                    <div class="col-12 text-center">
                        <button class="btn login-signup-btn" type="submit">Signup</button>
                    </div>
                    <div class="text-danger">
                        @Model.Message
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
